*{
	margin: 0;
	padding: 0;
	font-family: "Microsoft Yahei", "微软雅黑", sans-serif;
}
a{
	text-decoration: none;
	color: white;
}
li{
	list-style: none;
	float: left;
}
.fl{
	float: left;
}
.chengxinfuwu{
	width: 100%;
}
.header{
	width: 100%;
	height: 80px;
	background: #000;
}
.header2{

	width: 1200px;
	height: 80px;
	margin: 0 auto;
}


.header2_left img{
	float: left;
	height: 45px;
	margin-top: 18px;
	
}
.header2_left span{
	/*clear: both;*/
	width: 260px;
	/*height: 45px;*/
	line-height: 45px;
	display: block;
	font-size: 18px;
	color: white;
	font-family: "Microsoft Yahei", "微软雅黑", sans-serif;
	margin-left: 15px;
	margin-top: 18px;
	float: left;
	
	
}

.header2_daohang{
	float: left;
	margin-left: 60px;
	margin-top: 8px;
}
.header2_daohang a{
	display: inline-block;
    line-height: 67px;
    font-size: 16px;
    padding: 0 12px;
    color: #ccc;
}
.header2_daohang .daohang_bd{
	border-bottom: 5px solid #ffffff;
	color: white;
}


.header2_right{
	float: left;
	margin-top: 30px;
	margin-left: 60px;
}

.header2_right a{
	font-size: 12px;
}


.xinwenzixun .xinwenzixun-bg{
	overflow: hidden;
	/*text-align: center;*/
	background: #F5F5F5;
	width: 100%;
	height: 600px;
	position: relative;
}
.xinwenzixun .xinwenzixun-bg .xinwenzixun-main{
	width: 1000px;
	height: 530px;
	background: #FFFFFF;
	margin: 35px auto;
}
.xinwenzixun .xinwenzixun-bg .xinwenzixun-main .item p{
	font-size: 12px;
	color: #999;
	margin-left: 40px;

}
.xinwenzixun .xinwenzixun-bg .xinwenzixun-main .item{
	
	width: 100%;
 	height: 165px;
    padding-top: 30px;
    
}
.xinwenzixun .xinwenzixun-bg .xinwenzixun-main .item .clearfix{
	width: 920px;
	height: 145px;
	/*background: navajowhite;*/
	margin-top: 10px;
	margin-left: 40px;
	border-bottom: 1px solid #CCC;
}	 
.xinwenzixun .xinwenzixun-bg .xinwenzixun-main .item .clearfix img{
	float: left;
} 
.xinwenzixun .xinwenzixun-bg .xinwenzixun-main .item .clearfix .xinxi{
	margin-left: 20px;
	float: left;
}
.xinwenzixun .xinwenzixun-bg .xinwenzixun-main .item .clearfix .xinxi a{
	font-size: 20px;
	color: #333;
	margin-left: 45px;
	display: inline-block;
	margin-top: 20px;
}
.xinwenzixun .xinwenzixun-bg .xinwenzixun-main .item .clearfix .xinxi p{
	font-size: 16px;
	color: #999;
	margin-left: 45px;
	margin-top: 20px;

}
.xinwenzixun .xinwenzixun-bg .xinwenzixun-main .xuanxiang{
	text-align: center;
	width: 1000px;
	height: 60px;
	/*background: hotpink;*/
	margin-top: 25px;
	

}
.xinwenzixun .xinwenzixun-bg .xinwenzixun-main .xuanxiang a{
	display: inline-block;
	padding: 10px 20px;
    font-size: 16px;
    color: #2d6baf;
    border-radius: 5px;
    border: 1px solid #99b0e4;
    margin-top: 9px;
  
}
/*footer*/
.footer{
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 320px;
	text-align: center;
	color: #666;
 	font-size: 12px;
 	background: #333333;
	
}
.footer .biaoti{
	width: 500px;
	height: 90px;
	margin: 45px auto 0;
}
.footer .lianxi{
	
	width: 550px;
	font-size: 14px;
	color: white;
	margin: 0 auto;
}
.footer .lianxi .erweima{
	margin-left: 120px;
	float: left;
	height: 146px;
	width: 116px;
}
.footer .lianxi .erweima img{
	height: 116px;
	width: 116px;
}
.footer .lianxi2{
	text-align: left;
	float: left;
	margin-left: 20px;
}
.footer .lianxi2 p{
	line-height: 30px;
}
.footer .zuihou{
	margin: 0 auto;
	
	clear: both;
	width: 600px;
}
